body {
  text-align: center;
  background-color: #1c2333;
}
.container {
  color: #fff;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.text {
  color: #fff;
}
.cell {
  height: 40px;
  width: 40px;
  border: 1.5px solid grey;
  border-style: inset;
}

.blackcell {
  background-color: black;
}

.whitecell {
  background-color: white;
}

.greencell {
  background-color: green;
}
